---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Paulie's Astro Blog";
// Testing if redeploying will change anything
---

<head>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  ></script></head
>
<BaseLayout pageTitle={pageTitle}>
  <h2>My Awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={["Hi", "Yo", "Howdy", "Wazzup", "Oh Shit!"]}
  />

  <script>
    declare global {
      interface Window {
        netlifyIdentity: any;
      }
    }
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", (user: any) => {
        if (!user) {
          console.log("test");
          window.netlifyIdentity.on("login", () => {
            console.log("redirect");
            document.location.href = "/admin/";
          });
        } else {
          console.log("user found");
        }
      });
    }
  </script>
</BaseLayout>
