---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Paulie's Astro Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Awesome blog subtitle</h2>
</BaseLayout>
