---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";

const pageTitle = "Paulie's Astro Blog";
// Testing if redeploying will change anything
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Awesome blog subtitle</h2>
  <Greeting
    client:load
    messages={["Hi", "Yo", "Howdy", "Wazzup", "Oh Shit!"]}
  />
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
  ></script>
</BaseLayout>
